#permalink span.link {
  font-size: larger;
}

#permalink div.intro {
  font-weight: bolder;
  float: left;
}

#permalink div.help {
  font-size: smaller;
  float: right;
}

#permalink div#copybox,
#permalink div#linkonly {
  border: solid 1px DarkGrey;
  background: GhostWhite;
  font-family: Courier;
  padding: 3px;
}
