{#
/**
* @file
* Theme implementation to display a Permalink Block.
*
* Copy this file first to the theme's template folder before overriding it.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

<div id="permalink">
{% if copybox %}
    <span class="link">
      {{ copybox }}
    </span><br />
    {% if linkonly %}
      <div id="linkonly">
        {{ linkonly }}
      </div>
    {% endif %}
    {% if fullhtml %}
      <div class="intro">
        {{ 'HTML code to copy to your site or email message:'|t }}
      </div>
      <div class="help">
        {{ 'Click below to select, Ctrl + C to copy.'|t }}
      </div><br />
      <div id="copybox">
        {{ fullhtml|placeholder }}
    {% endif %}
  </div>
{% else %}
  <span class="link">{{ permalink_block_link }}</span>
{% endif %}
</div>
